@media screen and (min-width: 500px) {
  .cart-container-wrapper {
    padding: 0px 15px;
  }

  .cart-container {
    align-items: flex-start !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 5px;
    align-items: minmax(min-content, max-content);
  }
}

@media screen and (min-width: 650px) {
  .cart-container-wrapper {
    padding: 0px 15px;
  }

  .cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(min-content, max-content);
    gap: 5px;
    align-items: minmax(min-content, max-content);
  }
}

@media screen and (min-width: 900px) {
  .cart-container-wrapper {
    padding: 0px 15px;
  }

  .cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(min-content, max-content);
    /* grid-auto-rows: min-content; */
    gap: 5px;
    align-items: minmax(min-content, max-content);
  }
}
